.face{
    height:200px;
    width:200px;
    border-radius:100px;
    background-color:yellow;
    position:relative;
    margin-top:50px;
    margin-left:50px;
}
.eye1{
    height:25px;
    width:25px;
    border-radius:25px;
    background-color:black;
    position:absolute;
    margin-top:50px;
    margin-left:50px;
}
.eye2{
    height:25px;
    width:25px;
    border-radius:25px;
    background-color:black;
    position:absolute;
    margin-top:50px;
    margin-left:125px;
}
.sq{
    height:25px;
    width:100px;
    border-radius:20px 20px 20px 20px;
    background-color:black;
    position:absolute;
    margin-top:125px;
    margin-left:50px;
}